$color_primary: #f44988;
$color_secundary: #1a1e3a;
$color_tercery: #fcc245;

$font_primary: "Roboto", sans-serif;

body {
    font-family: $font_primary;
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-size: 2.5rem;
}

ul {
    list-style: none;
}

/* :::::: Header :::::: */

.title__logo {
    color: $color_primary;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
}

a {
    color: $color_secundary;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header_nav {
    margin-left: auto;
    margin-right: auto;
}

.header_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
}

.ul_menu {
    display: flex;
    flex-direction: row;
}

.menu_espacio {
    padding: 1rem;
}

/* :::::: Principal :::::: */

.inicio_main {
    display: flex;
    align-items: center;
}

.p_txt {
    max-width: 70%;
    padding-bottom: 1rem;
}

/* :::::: Secciones / Espacios :::::: */

.section_img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.section_text {
    width: 50%;
    margin-left: 50px;
}

.section_text_about {
    width: 70%;
    margin-left: auto;
}

.section_text_certificados {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.section_text_grid_proyecto {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* :::::: Animación texto :::::: */

.fade-in-text {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* :::::: Imágenes :::::: */

.img__back {
    height: auto;
    width: 80%;
    border-radius: 50%;
}

.img__proyectos_uno {
    width: 100%;

    &:hover {
        width: 100%;
        transition: 500ms linear;
        transform: scale(1.1);
    }
}

.img__proyectos_dos {
    width: 100%;

    &:hover {
        width: 100%;
        transition: 500ms linear;
        transform: scale(1.1);
    }
}

.img__proyectos_tres {
    width: 100%;

    &:hover {
        width: 100%;
        transition: 500ms linear;
        transform: scale(1.1);
    }
}

.img__footer {
    width: 30px;
}

/* :::::: Botón :::::: */

.btn__uno {
    background-color: $color_secundary;
    color: #ffffff;
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
    border: $color_secundary 1px solid;
}

.btn__uno:hover {
    background-color: $color_primary;
    color: #ffffff;
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
    border: $color_primary 1px solid;
}

/* :::::: Icono :::::: */

.circle_icon:before {
    content: ' \25CF';
    color: $color_primary;
    font-size: 30px;
    margin-right: 0.5rem;
}

/* :::::: Grid / Proyecto :::::: */

.grid_img_proyecto_one {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.grid_img_proyecto_two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.grid_img_proyecto_three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

/*  :::::: Footer :::::: */

.footer_position {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    align-items: center;
    padding: 1rem;
    bottom: 0;
    left: 0;
    position: absolute;
}

.footer_position_relative {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    align-items: center;
    padding: 1rem;
    bottom: 0;
    left: 0;
    position: relative;
}

.lista_position {
    display: flex;
}

/*  :::::: Menú hamburguesa :::::: */

.hamburger {
    position: relative;
    background-color: transparent;
    right: 0;
    height: auto;
    width: auto;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index: 2;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 5px;
}

.hamburger.is-active {
    background-color: none;
}

._layer {
    background: $color_secundary;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 2px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.hamburger:hover .-top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.hamburger:hover .-bottom {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.hamburger.is-active .-top {
    -webkit-transform: translateY(200%) rotate(45deg) !important;
    -ms-transform: translateY(200%) rotate(45deg) !important;
    transform: translateY(200%) rotate(45deg) !important;
}

.hamburger.is-active .-mid {
    opacity: 0;
}

.hamburger.is-active .-bottom {
    -webkit-transform: translateY(-200%) rotate(135deg) !important;
    -ms-transform: translateY(-200%) rotate(135deg) !important;
    transform: translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active {
    transform: translate3d(0px, 0px, 0px);
}

.menuppal {
    background-color: rgba(255, 255, 255, 0.75);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1;
}

.menuppal ul {
    margin: 0;
    padding: 0;
}

.menuppal ul li {
    list-style: none;
    text-align: center;
    font-family: $font_primary;
    color: $color_primary;
    font-size: 1.2rem;
    line-height: 5em;
    height: 3em;
    color: $color_secundary;
    text-transform: none;
    font-weight: normal;
}

.menuppal ul li a {
    text-decoration: none;
    color: $color_secundary;
}

.menuppal ul li a:hover {
    text-decoration: underline;
    color: $color_primary;
}

/* :::::: Mobile :::::: */

@media only screen and (max-width: 767px) {

    .inicio_main {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .section_img {
        width: 100%;
        justify-content: center;
    }

    .section_text {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .p_txt {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    h1 {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 2rem;
    }

    .btn__uno {
        margin-left: 10px;
    }

    .footer_position {
        display: flex;
        justify-content: space-between;
        width: -webkit-fill-available;
        align-items: center;
        padding: 1rem;
        bottom: 0;
        left: 0;
        position: relative;
    }

    .header_nav {
        display: none;
    }

    .inicio_main {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        margin-left: 10px;
        margin-right: 10px;
    }

    .section_text_about {
        width: 100%;
        margin-right: 0px;
    }

    .section_text_certificados {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .section_text_grid_proyecto {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .grid_img_proyecto_two {
        margin-right: 20px;
        margin-left: 10px;
    }

    .grid_img_proyecto_one {
        margin-right: 20px;
        margin-left: 10px;
    }

    .grid_img_proyecto_three {
        margin-right: 20px;
        margin-left: 10px;
    }

    h2 {
        margin-right: 10px;
        margin-left: 10px;
    }

    .p_txt {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 20px;
    }

    .header_menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem;
        position: sticky;
        top: 0px;
        background: #ffff;
    }

    .img__back {
        width: 60%;
    }
}

/* :::::: Tablet :::::: */

@media (min-width: 768px) and (max-width:1023px) {
    .header_nav {
        display: none;
    }

    .inicio_main {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .header_menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem;
        position: sticky;
        top: 0px;
        background: #ffff;
    }

    .section_img {
        width: 100%;
        justify-content: center;
    }

    .section_text {
        width: 100%;
        margin-left: 20px;
        margin-right: 40px;
    }

    .p_txt {
        max-width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    h1 {
        margin-right: 10px;
        margin-left: 20px;
        font-size: 2rem;
    }

    .btn__uno {
        margin-left: 20px;
    }

    .section_text_about {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }

    h2 {
        margin-right: 20px;
        margin-left: 20px;
        font-size: 2rem;
    }

    .section_text_grid_proyecto {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .grid_img_proyecto_two {
        margin-right: 20px;
        margin-left: 20px;
    }

    .grid_img_proyecto_one {
        margin-right: 20px;
        margin-left: 20px;
    }

    .grid_img_proyecto_three {
        margin-right: 20px;
        margin-left: 20px;
    }

    .section_text_grid_proyecto {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .footer_position {
        display: flex;
        justify-content: space-between;
        width: -webkit-fill-available;
        align-items: center;
        padding: 1rem;
        bottom: 0;
        left: 0;
        position: relative;
    }

    .img__back {
        width: 50%;
    }

}

@media (min-width: 1024px) {

    .hamburger {
        display: none;
        /* Oculta el botón en desktop */
    }

    .menuppal {
        display: none;
        /* Oculta el menú hamburguesa en desktop */
    }
}